<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

    <h1>WELCOME BACK <%= user.user_name %></h1>
    <a href="/account/logout">LOG OUT</a>
    <form action="/files/upload" method="POST" enctype="multipart/form-data">
      <!-- <label for="file_name">File Name</label>
      <input id="file_name" type="text" name="file_name"> -->
      <br>
      <label for="file">Upload File</label>
      <input id = "file" type="file" name="file" required="true">
      <br>
      <label for="password">Password</label>
      <input id = "password" type="password" name="password" required="true">
      <br>
      <button type="submit">Save</button>
    </form>
    <ul>
      <% docs.forEach(doc=>{%>
        
        <li>
          <%=doc.originalName %>
          <br>
          <a href='<%=doc.url%>' target="_blank" rel="noopener noreferrer">link</a>
        </li>
        
        <% })%>
    
    </ul>
    
    
  
    <a href="/files/send">send</a>
</body>