<!-- include header -->
<%- include('includes/header') %>
<!-- /include header -->
<body>
    <div class="container">
        <div class="sections">
            <div class="section_one">
                <div class="section_one__logodiv">
                    <img src="/assets/Sentry-logo-white.png" alt="logo" srcset="">
                </div>

                <div class="section_one_header">
                    <h1>
                        Safe and secure file sharing
                    </h1>
                </div>

                <div class="section_one_paragraph">
                    <p>A safe and simple way to send your files across the web. Upload, pick your recepient and share!</p>
                </div>
                
                <div class="section_one_login">
                    <p>Have an account ?</p>
                    <div class="section_one_login__linkdiv">
                        <a href="#" class="section_one_login__link">Login</a>
                    </div>
                    
                </div>
            </div>
            <div class="section_two">
                <div class="section_two__logodiv">
                    <img src="/assets/Sentry-logo-green.png" alt="logo" srcset="">
                </div>
                <div class="section_two__signuptext">
                    <h2>Login</h2>
                    <p>Don't have an account ? <a href="#">Signup</a></p>
                </div>

                <div class="section_two__form">
                    <form action="/account/login" method="POST">
                        <div class="section_two__forminputs">

                            <label for="email_input">Your email is</label>
                            <input type="text" name="username" id="email_input">

                            <label for="password_input">Password</label>
                            <input type="password" name="password" id="password_input">


                            <button type="submit" class="section_two__form_button">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>