<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

    <h1>Input Password</h1>
    
    <form action="" method="POST" enctype="">
      <!-- <label for="file_name">File Name</label>
      <input id="file_name" type="text" name="file_name"> -->
      <br>
      <label for="file">Upload File</label>
      <input id = "file" type="password" name="password">
      <br>
      <button type="submit">Download</button>
    </form>
    
</body>