<!-- include header -->
<%- include('includes/header') %>
<!-- /include header -->
<body>
    <div class="container">
        <div class="sections">
            <div class="section_one">
                <div class="section_one__logodiv">
                    <img src="/assets/Sentry-logo.png" alt="logo" srcset="">
                </div>

                <div class="section_one_header">
                    <h1>
                        Safe and secure file sharing
                    </h1>
                </div>

                <div class="section_one_paragraph">
                    <p>A safe and simple way to send your files across the web. Upload, pick your recepient and share!</p>
                </div>
                
                <div class="section_one_login">
                    <p>Have an account ?</p>
                    <div class="section_one_login__linkdiv">
                        <a href="#" class="section_one_login__link">Login</a>
                    </div>
                    
                </div>
            </div>
            <div class="section_two">
                <div class="section_two__logodiv">
                    <img src="/assets/Sentry-green.png" alt="logo" srcset="">
                </div>
                <div class="section_two__signuptext">
                    <h2>Sign Up</h2>
                    <p>Have an account ? <a href="#">Login</a></p>
                </div>

                <div class="section_two__form">
                    <form action="" method="post">
                        <div class="section_two__forminputs">
                            <label for="username_input">Your name is</label>
                            <input id="username_input" type="text" name="" id="">

                            <label for="email_input">Your email is</label>
                            <input type="email" name="" id="email_input">

                            <label for="password_input">Password</label>
                            <input type="password" name="" id="password_input">

                            <label for="password_confirm">Confirm Password</label>
                            <input type="password" name="" id="password_confirm">

                            <button type="submit" class="section_two__form_button">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>